.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
